body {
    background-color: #1164661a;
}

.privacy-policy {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 6rem auto;
    padding: 2rem;
}

.privacy-policy h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.privacy-policy h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

.privacy-policy ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.privacy-policy strong {
    color: var(--text-primary);
}

.privacy-policy a {
  text-decoration: underline;
}

.privacy-policy a:hover {
  text-decoration: none;
}


