.about-page {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 7rem 2rem;
}

.aboutme-heading {
  text-align: center;
}

.aboutme-heading h1 {
  margin-bottom: 4rem;
}

.aboutme-heading span {
  color: var(--brand-color);
}

.aboutme-text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.aboutme-text-row .aboutme-text-item:first-child {
  flex: 0 0 auto;
}

.aboutme-text-row .aboutme-text-item:last-child {
  flex: 1 1 auto;
  max-width: 60%;
}

.about-page img {
    aspect-ratio: 5 / 6;
    width: 25vw;
    width: clamp(150px, 25vw, 500px);
    height: auto;
    border-radius: 26px;
    object-fit: cover;
    flex-shrink: 0;
}

.about-page .hashtags {
    color: var(--brand-color);
}

.aboutme-text-row .aboutme-text-item h3 a {
  color: #333333;
  text-decoration: none;
}

.aboutme-text-row p {
    margin: 0;
}

.text-gap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1100px) {
    .aboutme-text-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    
  .aboutme-text-row .aboutme-text-item:first-child {
    flex: 0 0 auto;
    width: clamp(200px, 25vw, 300px);
    margin: 0 auto;
  }

  .aboutme-text-row .aboutme-text-item:last-child {
    flex: 1 1 100%;
    max-width: 90vw;
    min-width: auto;
  }
}