@keyframes blowUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blowDown {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-overlay.fade-out {
  animation: fadeOutOverlay 0.3s ease backwards;
}

.modal-container.blow-up {
  animation: blowUp 0.3s ease forwards;
}

.modal-container.blow-down {
  animation: blowDown 0.3s ease backwards;
}

.modal-overlay {
  background-color: rgba(187,187,187,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeInOverlay 0.3s ease forwards;
}

.modal-container {
  background-color: transparent;
  border: 1px solid var(--border-default);
  color: #333333;
  padding: 1.4rem;
  border-radius: 0.5rem;
  max-width: 850px;
  width: 100%;
  position: relative;
}


.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  display: inline-block;
  pointer-events: auto;
  border: none;
  color: #333333;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.modal-subtitle {
  margin-bottom: 2rem;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.modal-container h3 {
  font-size: 1.6rem;
}

.modal-container h4 {
  margin-bottom: 1rem;
}

.modal-contact-form input {
  height: 2rem;
}

.modal-contact-form label {
  font-size: 14px;
}

.submit-btn {
  display: block;
  color: #333333;
  font-weight: bold;
  background: transparent;
  margin: 0 auto;
  width: 100%;
  margin-top: 1.2rem;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: transparent;
}

.why-work {
  margin-top: 1.4rem;
  background-color: transparent;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
}

.why-work p {
  font-size: 0.8rem;
  line-height: 1rem;
}

.modal-container .contact-info-item {
  gap: 1rem;
}

.contact-info-item {
  margin-bottom: 1rem;
}

.contact-info-item .icon {
  background-color: transparent;
  color: #333333;
  padding: 0.6rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  .modal-container .contact-details {
    display: none;
  }

  .modal-close-btn {
    width: inherit;
  }

  .modal-grid {
    grid-template-columns: 1fr;
  }

  .modal-container {
    width: auto;
    padding: 1rem;
    margin: 0;
  }

  .modal-contact-form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .modal-container {
    max-width: 80vw;
  }
}