.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.contact-heading {
  margin-bottom: 4rem;
}

.contact-heading h2 {
  margin-bottom: 1rem;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.contact-box {
  width: clamp(100px, 85vw, 500px);
  background-color: var(--bg-card);
  border: 1px solid var(--border-default);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  padding: 2rem;
}

.contact-box h3 {
  margin-bottom: 2rem;
  text-align: left;
}

.contact-box form label {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  display: block;
  margin-bottom: 0.4rem;
}

.contact-box:first-child button {
  display: block;
  color: #000000;
  font-weight: bold;
  background: #ffffff;
  margin: 0 auto;
  width: 100%;
  margin-top: 1.2rem;
}

.contact-box button:hover {
  background-color: #d7d7d7;
}

.contact-info-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
  margin-bottom: 2rem;
}

.contact-info-item:last-child {
  margin-bottom: 0;
}

.contact-info-item svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.contact-info-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info-item p {
  margin: 0;
  line-height: 1.4;
  white-space: nowrap;
}

.contact-info-item div p:first-child {
  color: white;
  font-weight: 300;
  text-align: left;
}

@media (max-width: 1170px) {
  .contact-content {
    gap: 2rem;
  }

  .contact-box {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .contact-box form label {
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
  }
}