.hero-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-section span {
  color: var(--brand-color);
}

.hero-section p {
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.hero-section a {
  color: var(--text-primary);
}

.hero-section > div {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ease, transform 2s ease;
  transition-delay: 0.1s;
}

.hero-section > div.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .hero-section {
    padding: 3rem 1.5rem;
  }
}