.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--border-default);
}

.navigation-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.nav-menu-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.navigation-logo {
  height: 2.4rem;
  margin-left: 0;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  list-style: none;
  justify-content: center;
  flex: 1;
}

.navigation-link {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--muted-foreground);
  transition: color 0.2s ease;
}

.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus {
  color: var(--brand-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
  background-color: transparent;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.language-buttons {
  display: flex;
  align-items: center;
  right: 0;
  gap: 0.8rem;
}

.language-buttons span {
  font-size: 0.8rem;
  cursor: default;
}

.language-buttons button {
  padding: 0;
  margin: 0;
  background: none;
  font-size: 0.7rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.language-buttons button:hover {
  color: var(--text-secondary);
}

@media (max-width: 1000px) {
  .hamburger {
    display: flex;
  }

  .nav-menu-wrapper {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid var(--border-default);
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    pointer-events: none;
    width: 75vw;
    margin: 0 auto;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 1rem 2rem;
  }

  .nav-menu-wrapper.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .navigation-links {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .navigation-link {
    font-size: 1.2rem;
    font-weight: 600;
    width: fit-content;
  }
}