.projects-content {
  margin: 0 auto;
  text-align: center;
  padding: 4rem 2rem;
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.project-card {
  aspect-ratio: 8 / 4;
  width: 85vw;
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  background-color: transparent;
  border: 1px solid var(--border-default);
  border-radius: 20px;
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

.projects-heading {
  margin-bottom: 4rem;
}

.projects-heading h2 {
  margin-bottom: 1rem;
}

.projects-heading p {
  margin: 0 auto;
  width: fit-content;
  color: var(--brand-color);
}

.projects-footer {
  margin-top: 2.5rem;
}

.projects-footer a {
  color: #333333;
}

.view-all {
  margin: 1rem auto;
}

@media (max-width: 1400px) {
  .projects-grid {
    flex-wrap: wrap;
  }

  .projects-content.container {
    padding: 0;
  }
}