.projects-page {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 7rem 2rem;
}

.projects-page h1 {
    margin: 0;
}

.projectspage-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
}

.projectspage-card {
    aspect-ratio: 8 / 4;
    width: 100%;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-color: transparent;
    border: 1px solid var(--border-default);
    border-radius: 20px;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;      
}

.projectspage-card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

@media (max-width: 1100px) {
  .projectspage-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .projectspage-card {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
    .projects-page {
        gap: 4rem;
    }
}